# .NET ignores
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates
.idea/

# Terraform ignores
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
*.tfvars
*.tfvars.json

# OS ignores
.DS_Store
Thumbs.db
